@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap");

img {
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0;
	font-weight: 300;
}
html,
body {
	font-family: "Roboto", sans-serif;
}

a:hover {
	text-decoration: none;
}
.section-padding {
	padding: 80px 0;
}

.section-heading {
	margin-bottom: 70px;
	text-align: center;
}

.single-service-box {
	border: 2px solid #ebebeb;
	text-align: center;
}

.service-box-bg {
	height: 200px;
	background: #ddd;
	position: relative;
}

.service-box-bg h2 {
	background: #bb5040;
	color: #fff;
	font-size: 23px;
	text-align: center;
	font-weight: 400;
	padding: 15px;
	position: absolute;
	left: 8%;
	width: 84%;
	margin: 0;
	bottom: -26px;
}

.service-content {
	padding: 30px;
	padding-top: 52px;
	line-height: 30px;
	font-size: 15px;
	font-weight: 400;
}

.service-content p:last-child {
	margin: 0;
}

.service-readmore {
	display: inline-block;
	color: #333;
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
