/*Base css*/
@font-face {
	font-family: "CodeBold";
	src: url("../webfonts/Code-Bold.eot");
	src: url("../webfonts/Code-Bold.eot?#iefix") format("embedded-opentype"),
		url("../webfonts/Code-Bold.woff2") format("woff2"),
		url("../webfonts/Code-Bold.woff") format("woff"),
		url("../webfonts/Code-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CodeLight";
	src: url("../webfonts/Code-Light.eot");
	src: url("../webfonts/Code-Light.eot?#iefix") format("embedded-opentype"),
		url("../webfonts/Code-Light.woff2") format("woff2"),
		url("../webfonts/Code-Light.woff") format("woff"),
		url("../webfonts/Code-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

.alignleft {
	float: left;
	margin-right: 15px;
}
.alignright {
	float: right;
	margin-left: 15px;
}
.aligncenter {
	display: block;
	margin: 0 auto 15px;
}
a:focus {
	outline: 0 solid;
}
img {
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 15px;
	font-weight: normal;
	font-family: "CodeLight", sans-serif;
}
html,
body {
	font-family: "Karla", sans-serif;
	height: 100%;
}

a:hover {
	text-decoration: none;
}
.product-bg-1 {
	background-image: url(../Img/product/product-1.png);
}
.product-bg-2 {
	background-image: url(../Img/product/product-2.png);
}
.product-bg-3 {
	background-image: url(../Img/product/product-3.png);
}
.product-bg-4 {
	background-image: url(../Img/product/product-4.png);
}
.product-bg-5 {
	background-image: url(../Img/product/product-5.png);
}
.product-bg-6 {
	background-image: url(../Img/product/product-6.png);
}
.product-bg-7 {
	background-image: url(../Img/product/product-7.png);
}
.product-bg-8 {
	background-image: url(../Img/product/product-8.png);
}
.product-bg-9 {
	background-image: url(../Img/product/product-9.png);
}
.product-bg-10 {
	background-image: url(../Img/product/product-10.png);
}
.home-page-slider-wrap {
	background-image: url(../Img/background.png);
}
.header-top-area a {
	color: #5b4060;
	display: inline-block;
	padding: 15px;
}

.header-top-area {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 97;
}

.header-left ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.header-left li {
	display: inline-block;
}

.header-top-area a.menu-trigger {
	float: left;
}

.header-right {
	text-align: right;
}

.search-trigger i.fa {
	padding-left: 10px;
}

.home-page-slider-wrap {
	background-color: #e9d4cf;
	background-position: center;
	background-size: cover;
	height: 100%;
}

.single-slide-item {
	position: relative;
}
.owl-carousel .single-slide-item img {
	position: absolute;
	left: 50%;
	width: 700px;
	margin-left: -350px;
	bottom: 0;
}

.slide-text-table {
	display: table;
	width: 100%;
	position: relative;
	z-index: 9;
}

.home-page-slider-wrap div {
	height: 100%;
}

.slide-text-tablecell {
	display: table-cell;
	vertical-align: middle;
	padding-left: 15%;
	font-family: "CodeLight", sans-serif;
	font-size: 120px;
	color: #e55288;
	line-height: 120px;
}

.slide-text-tablecell strong {
	font-family: CodeBold;
	font-weight: normal;
}

p.slide-alternative-color {
	color: #6fb0a5;
}
ul.big-menu {
	margin: 0;
	list-style: none;
	overflow: hidden;
}

ul.big-menu li {
	float: left;
	width: 30%;
	font-size: 50px;
	font-family: "CodeLight";
	background-color: #ecf3e8;
	transition: 0.3s;
}

ul.big-menu {
	display: block;
	text-align: right;
	padding: 30px;
	color: #333;
}

ul.big-menu li a {
	display: block;
	text-align: right;
	padding: 170px 30px 30px;
	color: #333;
	padding-top: 100px;
	transition: 0.2s;
}

ul.big-menu li:nth-child(2) a {
	color: #e55288;
	font-family: "CodeBold";
}

ul.big-menu li:nth-child(2) {
	background-color: #f0e5e5;
}

ul.big-menu li:nth-child(3) {
	background-color: #f6f3a6;
}

ul.big-menu li:nth-child(4) {
	background-color: #ecf4f5;
}

ul.big-menu li:nth-child(2),
ul.big-menu li:nth-child(3) {
	width: 20%;
}

ul.big-menu li a:hover {
	opacity: 0.5;
}

ul.big-menu li:hover {
	opacity: 0.5;
}
.product-area {
	padding-top: 100px;
}

.single-product-item {
	height: 300px;
	background-position: center;
	margin-left: 2%;
	margin-bottom: 20px;
	width: 18%;
	float: left;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: #f7f4f5;
}

.product-list {
	margin-left: -2%;
	overflow: hidden;
}

.single-product-item:nth-child(2) {
	height: 620px;
	width: 78%;
	background-color: #f3eceb;
}

.single-product-item.product-bg-3 {
	background-color: #f3f6f6;
}

.single-product-item:nth-child(4) {
	width: 58%;
}

.single-product-item:nth-child(9) {
	width: 38%;
}
.product-top-links a {
	color: #beb6c1;
	display: inline-block;
	padding: 5px;
}

.product-top-links {
	text-align: right;
	padding-right: 10px;
	padding-top: 5px;
}

.product-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: 0.3s;
}

.product-hover:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: #423d3c;
	z-index: -1;
	opacity: 0.7;
}

.product-hover > a {
	position: absolute;
	left: 50%;
	top: 50%;
	color: #fff;
	border: 2px solid;
	padding: 6px 17px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	width: 90px;
	margin-left: -45px;
	line-height: 25px;
	margin-top: -22px;
}

.product-bottom-info {
	background: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-transform: uppercase;
}

.product-bottom-info h4 {
	margin: 0;
	font-size: 16px;
	font-family: "Karla";
	font-weight: 700;
}

.product-bottom-info span.product-price {
	position: absolute;
	top: 0;
	right: 0;
	color: #e65288;
	font-size: 20px;
	font-weight: 700;
}

.product-color-box span {
	display: inline-block;
	border: 1px solid #d9d4da;
	height: 10px;
	width: 10px;
}

span.color-sep {
	display: inline-block;
	height: 100%;
	width: 1px;
	background: #908a91;
}
span.product-color-box {
	border-left: 1px solid #908a91;
	padding-left: 10px;
	line-height: 20px;
}

.product-color-box span.product-color-red {
	background-color: red;
	border-color: red;
}

.product-color-box span.product-color-green {
	background-color: #9be4e6;
}

.product-bottom-info p {
	margin: 0;
}

.single-product-item:hover,
.product-item {
	opacity: 1;
}

.single-product-item:hover .product-hover {
	opacity: 1;
}

.single-product-item:hover .product-hover > a {
	margin-left: -40px;
}

.single-product-item:hover .product-top-links {
	z-index: 99;
	position: relative;
}

.single-product-item:hover .product-top-links a {
	color: #fff;
}
a.load-more-product-btn {
	display: block;
	background: #f9f9f8;
	font-weight: 700;
	color: #312429;
	text-align: center;
	font-size: 16px;
	padding: 30px;
	margin-top: 50px;
	margin-bottom: 70px;
}
a.load-more-product-btn:hover {
	color: #e65288;
}
.product-promotion {
	background: #f8f5f5;
}

.promo-bg {
	background: #f4f0f0;
}

.promo-content {
	padding: 60px 110px 50px 40px;
	line-height: 2;
}

.promo-title {
	position: relative;
	color: #e65288;
	margin-bottom: 40px;
}

.promo-title h2 {
	font-size: 36px;
	margin: 0 0 5px;
}

.promo-title h2 strong {
	font-weight: normal;
	font-family: "CodeBold";
}

.promo-title span.year-text {
	position: absolute;
	top: 10px;
	left: 37%;
	color: #55abc6;
	font-size: 110px;
	font-weight: bold;
	opacity: 0.3;
	line-height: 76px;
}
a.boxed-btn {
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	background: #55abc6;
	padding: 5px 30px;
	margin-top: 5px;
}

.brand-images {
	margin-top: 100px;
	margin-bottom: 50px;
}
/***** Footer Css *****/
.footer-area {
	background-color: #f4f4f4;
}

.footer-area,
footer-menu ul li > a {
	color: #919191;
}

.footer-area,
.footer-menu ul li a {
	color: #919191;
}

.footer-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-transform: uppercase;
	font-weight: 700;
}

.footer-menu li {
	display: inline-block;
	padding-right: 38px;
	margin-bottom: 10px;
}

.footer-area {
	padding: 50px 0;
}

.social-links a {
	font-size: 120%;
	display: inline-block;
	padding-top: 10px;
}

input[type="email"] {
	background: #fff;
	border: 1px solid #fff;
	padding: 10px 20px;
}

input[type="submit"] {
	background: #e55288;
	color: #fff;
	border: none;
	padding: 11px 20px;
}

.social-links {
	margin-bottom: 20px;
}

.footer-menu {
	margin-top: 15px;
}
.single-slide-item .owl-carousel .owl-item {
	width: auto;
}

.home-page-slider-wrap .owl-nav,
.home-page-slider-wrap .owl-nav div {
	height: auto;
}

.home-page-slider-wrap .owl-nav div {
	position: absolute;
	left: 0%;
	font-size: 20px;
	top: 50%;
	color: #5b4060;
	line-height: 40px;
	margin-top: -20px;
	transition: 0.3s;
	opacity: 0;
}

.home-page-slider-wrap .owl-nav div.owl-next {
	left: auto;
	right: 5%;
}

.home-page-slider-wrap:hover .owl-nav div {
	left: 5%;
	opacity: 1;
}

.home-page-slider-wrap:hover .owl-nav div.owl-next {
	left: auto;
	right: 5%;
}

.home-page-slider-wrap .owl-nav div.owl-next {
	left: auto;
	right: 0;
}

.single-product-promotion img {
	width: auto !important;
}

.product-promotion .owl-dots div {
	height: 15px;
	width: 15px;
	background: #d3cece;
	margin-bottom: 10px;
	border-radius: 50%;
}

.product-promotion .owl-dots div:active {
	background-color: #e65288;
}

.product-promotion .owl-dots {
	position: absolute;
	right: 5%;
	top: 50%;
	margin-top: -2%;
}

.off-canvas-menu {
	background: #333;
	position: fixed;
	width: 300px;
	z-index: 99;
	height: 100%;
	padding: 25px;
	margin-left: -300px;
	transition: 0.2s;
}
.off-canvas-menu.active {
	margin-left: 0;
}

.off-canvas-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 50px;
}

.off-canvas-menu li a {
	color: #fff;
	display: block;
	padding: 11px 0;
	border-bottom: 1px solid #444;
}
span.menu-close {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	padding: 25px;
	cursor: pointer;
}

.of-canvas-overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	z-index: -1;
	opacity: 0;
	transition: 0.2s;
}
.of-canvas-overlay.active {
	z-index: 98;
	opacity: 0.6;
}
.header-top-area a.menu-trigger span {
	height: 2px;
	width: 30px;
	background: #e55288;
	display: block;
	margin-bottom: 9px;
}

.header-top-area a.menu-trigger span:nth-child(2) {
	width: 15px;
}

.header-top-area a.menu-trigger span:nth-child(3) {
	width: 25px;
}

.header-left ul {
	float: left;
}
