/*Base css*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
a:focus,
input:focus,
textarea:focus,
button:focus {
	outline: 0 solid;
}

img {
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h5 {
	margin: 0 0 15px;
	font-weight: 700;
}
html,
body {
	height: 100%;
	font-weight: 300;
}
body {
}
a:hover {
	text-decoration: none;
}
.section-padding {
	padding: 80px 0;
}
.absolute-bg-1::after {
	background-image: url(../assets/image/man4.jpg);
}
.absolute-bg-2::after {
	background-image: url(../assets/image/man3.jpg);
}
.section-padding {
	position: relative;
	z-index: 1;
}

.section-padding.absolute-bg-1:after,
.section-padding.absolute-bg-2:after {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	content: "";
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	z-index: -1;
}
.section-padding.absolute-bg-2:before,
.section-padding.absolute-bg-1:before,
.section-padding.absolute-bg-1:after,
.section-padding.absolute-bg-2:after {
	position: absolute;
	right: 0;
	top: 0;
	width: 65%;
	height: 100%;
	content: "";
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	z-index: -1;
	background-color: #333;
}
.section-padding.absolute-bg-2:after {
	right: auto;
	left: 0;
}

.boxed-content {
	box-shadow: 0 0 50px #999;
	padding: 50px;
	background: #fff;
	text-align: center;
}

a.boxed-btn {
	background: #ffce43;
	color: #333;
	padding: 10px;
	display: inline-block;
	margin-top: 10px;
}
.section-padding.absolute-bg-1,
.section-padding.absolute-bg-2 {
	margin: 50px 0;
}

.section-padding.absolute-bg-2:before,
.section-padding.absolute-bg-1:before {
	z-index: 0;
	opacity: 0.5;
	mix-blend-mode: multiply;
}
.section-padding.absolute-bg-2:before {
	right: auto;
	left: 0;
}
