/* Medium layout: 1280px */
@media only screen and (min-width: 992px) and (max-width: 1500px) {
}
/* Tablet layout: 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile layout: 320px */
@media only screen and (max-width: 767px) {
	.left-side {
		background: #222;
		position: relative;
		width: auto;
		height: auto;
	}
	/* .mainmenu li {
		padding: 17px 0px;
	} */
	.right-side {
		width: 100%;
		margin-left: 0;
	}
	.mainmenu li {
		padding: 15px 0px;
		text-align: center;
	}
	.logo {
		margin: 0;
		padding: 74px;
	}
}

/* Wide Mobile layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
