@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nothing+You+Could+Do&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500&family=Vidaloka&display=swap");
.space-90 {
	height: 90px;
}
.space-8 {
	height: 80px;
}
.space-70 {
	height: 7px;
}
.space-60 {
	height: 60px;
}
.space-50 {
	height: 50px;
}
.space-40 {
	height: 40px;
}
body {
	font-family: "Lato", sans-serif;
	font-size: 15px;
	color: #333333;
	line-height: 1.8;
}
a {
	text-decoration: none;
}
.header-top {
	background-color: #0b0b0b;
}

.header-top,
.header-top a {
	color: #f5f3f3;
	padding: 13px 0;
}

.header-top i {
	color: #fc721e;
	padding-left: 7px;
}

.social-links a {
	display: inline-block;
	height: 33px;
	width: 33px;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	padding: 0;
	line-height: 33px;
}

.social-links i {
	padding-left: 0;
	color: #ffff;
}

.social-links {
	display: inline-block;
	padding-left: 25px;
}

.social-links a:hover {
	background-color: #fc721e;
	border-color: #fc721e;
}
.header-top .fa-location-dot {
	padding-right: 10px;
}

.header-top .fa-envelope {
	padding-right: 10px;
}

.header-top .fa-phone {
	padding-right: 10px;
}
.site-lgo {
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
	border: 1px solid;
	padding: 10px 20px;
	font-weight: 700;
	margin-bottom: 0;
}

.main-menu ul {
	padding: 5px 0;
	margin: 0;
	list-style: none;
}

.main-menu li {
	display: inline-block;
}

.main-menu li a {
	display: block;
	color: #333;
	padding: 12px 17px;
	text-decoration: none;
	font-weight: 900;
	text-transform: uppercase;
	border: 1px solid transparent;
}

.main-menu li:hover > a {
	border: 1px solid #fc721e;
}
.header-area {
	padding: 18px 0;
}
.slide-bg-1 {
	background-image: url(../img/background.jpg);
}
.single-slide-item {
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 2;
	color: #fff;
	font-size: 16px;
	line-height: 2;
}

.single-slide-item:after {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: "";
	background: #333;
	opacity: 0.5;
	z-index: -1;
}

.single-slide-item .d-table-cell {
	vertical-align: middle;
}

.single-slide-item h2 {
	font-size: 60px;
	margin-bottom: 30px;
}

.boxed-btn {
	display: inline-block;
	background-color: #fc721e;
	border: 1px solid #fc721e;
	padding: 8px 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	border-radius: 3px;
}
.boxed-btn.bordered-btn {
	background: transparent;
	border-color: #fff;
}
.slide-buttons {
	margin-top: 30px;
}

.slide-buttons a {
	margin-right: 15px;
}
.slider-area {
	margin-bottom: -35px;
}
.slider-area .owl-dots button span {
	height: 25px;
	width: 2px;
	display: inline-block;
	background: #fff;
	margin-right: 8px;
}

.slider-area .owl-dots {
	position: relative;
	left: 0;
	top: -80px;
	width: 1290px;
	margin: 0 auto;
}
.slider-area .owl-dots .owl-dot.active span {
	background: #fc721e;
	height: 30px;
}
.service-box-bg {
	background-color: #ddd;
	height: 205px;
	background-size: cover;
	background-position: center;
}

.single-service-box {
	position: relative;
	text-align: center;
	transition: 0.3s;
}
.service-box-bg {
	background-image: url(../img/b.jpg);
}

.service-box-content {
	border: 1px solid #d1cfcf;
	padding: 15px;
	padding-top: 50px;
}

.service-box-title {
	position: absolute;
	top: 180px;
	width: 100%;
}

.service-box-title h2 {
	width: 80%;
	color: #fff;
	background: #fc721e;
	font-size: 20px;
	margin: 0 auto;
	padding: 15px;
}

.service-btn {
	color: #333;
	text-decoration: none;
}

.service-btn i {
	padding-left: 5px;
}

.single-service-box:hover {
	box-shadow: 0 0 10px #ccc;
}
.section-padding {
	padding: 90px 0;
}

.section-padding.padding-bottom-0 {
	padding-bottom: 0;
}
.section-padding.section-gray {
	background-color: #f4f4f4;
}

img {
	max-width: 100%;
	height: auto;
}

.bordered-img {
	position: relative;
}

.bordered-img img {
	height: 100%;
	width: 100%;
}

.bordered-img:before,
.bordered-img:after {
	position: absolute;
	left: 0;
	top: 15%;
	height: 70%;
	width: 5px;
	content: "";
	background: #fc721e;
}

.bordered-img:after {
	left: auto;
	right: 0;
}

.about-text {
	padding: 15px 0;
}
.cta-area {
	background: #fc721e;
	color: #fff;
	padding: 60px 0;
}

.cta-area h2 {
	font-size: 20px;
	margin: 11px 0;
}

.cta-area .boxed-btn {
	background-color: #fff;
	color: #333;
}

.single-project-item {
	position: relative;
	padding-left: 260px;
	margin-bottom: 30px;
	padding-top: 70px;
	padding-bottom: 40px;
}

.project-bg {
	background-size: cover;
	background-position: center;
	background-color: #ddd;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 230px;
}
.project-bg-1 {
	background-image: url(../img/a.jpg);
}
.single-project-item h3 {
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}

.inline-btn {
	font-weight: 600;
	color: #333;
}

.inline-btn i {
	padding-left: 5px;
}

.project-bg:after {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: "";
	background: #333;
	opacity: 0;
	visibility: hidden;
}

.single-project-item:hover .project-bg:after {
	opacity: 0.3;
	visibility: visible;
}

.single-project-item:hover h2,
.single-project-item:hover .inline-btn {
	color: #fc721e;
}
.padding-top-0 {
	padding-top: 0;
}

.team-thumbnail {
	height: 305px;
	background-color: #ddd;
	background-size: cover;
	background-position: center top;
	margin-bottom: 10px;
	position: relative;
	z-index: 2;
}

.team-info {
	border: 1px solid #dcdbdb;
	padding: 20px;
	text-align: center;
}

.team-info h3 {
	font-size: 20px;
	font-weight: 600;
}

.team-social-links a {
	height: 35px;
	width: 35px;
	display: inline-block;
	border: 1px solid;
	color: #333;
	line-height: 33px;
	margin: 0 2px;
}

.team-thumbnail:after {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	content: "";
	background: #1d1109;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}
.single-team-member:hover .team-thumbnail:after {
	visibility: visible;
	opacity: 0.5;
}
.team-thumbnail {
	background-image: url(../img/download.jpg);
}
.team-social-links a:hover {
	color: #fc721e;
}
.single-logo-wrap {
	height: 120px;
	width: 100%;
}

.single-logo-item {
	display: table-cell;
	vertical-align: middle;
}

.single-logo-wrap img,
.owl-carousel .owl-item .single-logo-wrap {
	max-width: 120px;
	width: auto;
	margin: 0 auto;
}

.logo-carousel-area {
	border-top: 1px solid #d7d5d5;
	border-bottom: 1px solid #d7d5d5;
	padding: 50px 0;
	margin-bottom: 90px;
}

.site-footer {
	background-color: #000000;
}

.site-footer,
.site-footer a {
	color: #8c8e8e;
}

.site-footer .about-text {
	padding: 0;
	padding-right: 40px;
}
.widget-title {
	padding-bottom: 15px;
	margin-bottom: 36px;
	position: srel;
}

.email-subscribe {
	background-color: #222222;
}

.email-subscribe input,
.email-subscribe button {
	background: none;
	border: none;
	padding: 10px;
	color: #fff;
}

.email-subscribe button {
	float: right;
	width: 20%;
}

.email-subscribe input {
	width: 79%;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
	outline: none;
}
.widget-title {
	position: relative;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}

.widget-title:after {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 50px;
	background: #fc721e;
	content: "";
}
